// common 
a:link,
a:visited,
a:hover,
a:active { color:#08c }
a:link { text-decoration:none; }
.fl { float:left }
.fr { float:right }
.tal { text-align:left }
.tar { text-align:right }
.tac { text-align:center }
.tov { text-indent:-1000em }
.pos-abs { position:absolute }
.pos-rel { position:relative }
.pos-fixed { position:fixed }
.pos-sticky { position:fixed; position:-webkit-sticky; position:sticky }
.not-display { display:none }
.not-visible { visibility:hidden }
.top-z-index { z-index:10000!important }
.flow-hidden { overflow:hidden!important }
.flow-visible { overflow:visible!important }
.clearfix { zoom:1 }
.clearfix:after, .clearfix:before {  display:table; content:''; clear:both }

@border-color: #ddd;

body, .app, .app-container {
	height: 100%;
}
.app-aside {
	width: 260px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: #efefef;
	border-right: 1px solid @border-color;
	.menu {
		.item {
			a {
				font-size: 14px;
				display: block;
				padding: 18px;
				line-height: 1;
			}
			a:hover {
				background: #ddd;
			}
			a.current {
				background: #08c;
				color: #fff;
			}
		}
	}
}
.app-body {
	height: 100%;
	margin-left: 260px;
}
.app-body.full-size {
	margin-left: 0;
}
.app-content {
	padding: 12px;
}